body { font-size: 15px; }
h2 { margin-left: 0; margin-top: 8em; }
h3 { margin-top: 3em; }
h3 a { color: #006; }
h3 a:link { color: #006; }
h3 a:active { color: #006; }
h3 a:visited { color: #006; }
h4 { margin-left: 0; font-size:1.4rem !important; }
h5 { margin-top: 1rem !important; border-block-end:1px solid #ccc !important; width:100% !important; font-style:normal !important; }


.status_prompt {
    font-style: italic;
    color: #aaa;
    font-size: 90%;
    margin-bottom: 4em;
    }

.issueLink { font-weight:bold; padding:.5rem 1rem; border-radius:.2rem; }

.ok { border-left: 5em solid green; padding-left: 2em; }
.ok:after { content: 'OK'; color: gray; font-weight: normal; font-size: 120%; }
.okIssue { background-color: green; color:antiquewhite;  }
.issueLink.okIssue:visited, .issueLink.basicIssue:link { color: antiquewhite; }

.na { border-left: 5em solid green; padding-left: 2em; }
.na:after { content: 'Not applicable'; color: gray; font-weight: normal; font-size: 120%; }
.naIssue { background-color: green; color:antiquewhite; }
.issueLink.naIssue:visited, .issueLink.basicIssue:link { color: antiquewhite; }

.advanced { border-left: 5em solid #0f0; padding-left: 2em; }
.advanced { border-left: 5em solid moccasin; padding-left: 2em; }
.advanced:after { content: 'Needs work for advanced level support.'; color: gray; font-weight: normal; font-size: 120%; }
.advancedIssue { background-color: moccasin; color:chocolate; }
.issueLink.advancedIssue:visited, .issueLink.basicIssue:link { color: chocolate; }

.basic { border-left: 5em solid orange; padding-left: 2em; }
.basic:after { content: 'Needs work for basic styling support.'; color: gray; font-weight: normal; font-size: 120%; }
.basicIssue { background-color: orange; color:antiquewhite; }
.issueLink.basicIssue:visited, .issueLink.basicIssue:link { color: antiquewhite; }

.broken { border-left: 5em solid red; padding-left: 2em; }
.broken:after { content: 'Basic display issues that prevent effective use on the Web for this language.'; color: gray; font-weight: normal; font-size: 120%; }
.brokenIssue { background-color: red; color:antiquewhite; }
.issueLink.brokenIssue:visited, .issueLink.basicIssue:link { color: antiquewhite; }


.tbd { border-left: 5em solid #eee; padding-left: 2em; }
.tbd:after { content: 'Needs research.'; color: gray; font-weight: normal; font-size: 120%; }

.pass { background-color:greenyellow; padding: 0 4px; border-radius: 2px;  }
.fail { padding: 0 4px; color: white; background-color: crimson; border-radius: 2px; }
.partial { background-color: orange;  padding: 0 4px; color: white;  }

.reviewme:after {
	content: "Needs review";
	margin-left: 2em;
	background-color: crimson;
	color: white;
	font-size: 80%;
	padding: .2em .4em;
	border-radius: .2em;
	}

.subhead {
	display: block;
	font-weight: bold;
	}

.ghLink {
	margin-block-start: 0;
	float: right;
	font-size: 90%;
	}