body { font-size: 15px; }
h2 { margin-left: 0; margin-top: 8em; }
h3 { margin-top: 3em; }
h3 a { color: #006; }
h3 a:link { color: #006; }
h3 a:active { color: #006; }
h3 a:visited { color: #006; }
h4 { margin-left: 0; }



.status_prompt {
    font-style: italic;
    color: #aaa;
    font-size: 90%;
    margin-bottom: 4em;
    }


.ok { border-left: 5em solid green; padding-left: 2em; }
.ok:after { content: 'OK'; color: gray; font-weight: normal; font-size: 120%; }

.na { border-left: 5em solid green; padding-left: 2em; }
.na:after { content: 'Not applicable'; color: gray; font-weight: normal; font-size: 120%; }

.advanced { border-left: 5em solid #0f0; padding-left: 2em; }
.advanced { border-left: 5em solid moccasin; padding-left: 2em; }
.advanced:after { content: 'Needs work for advanced level support.'; color: gray; font-weight: normal; font-size: 120%; }

.basic { border-left: 5em solid orange; padding-left: 2em; }
.basic:after { content: 'Needs work for basic styling support.'; color: gray; font-weight: normal; font-size: 120%; }

.broken { border-left: 5em solid red; padding-left: 2em; }
.broken:after { content: 'Basic display issues that prevent effective use on the Web for this language.'; color: gray; font-weight: normal; font-size: 120%; }


.tbd { border-left: 5em solid #eee; padding-left: 2em; }
.tbd:after { content: 'Needs research.'; color: gray; font-weight: normal; font-size: 120%; }

.pass { background-color:greenyellow; padding: 0 4px; border-radius: 2px;  }
.fail { padding: 0 4px; color: white; background-color: crimson; border-radius: 2px; }
.partial { background-color: orange;  padding: 0 4px; color: white;  }

.reviewme:after {
	content: "Needs review";
	margin-left: 2em;
	background-color: crimson;
	color: white;
	font-size: 80%;
	padding: .2em .4em;
	border-radius: .2em;
	}

.subhead {
	display: block;
	font-weight: bold;
	}
