body {
    font-family: sans-serif;
    color: #252525;
    font-size: 16px;
    line-height: 1.5;
    padding: 3em;
    }


h1 {
	font-weight: normal;
	font-size: 2.5em;
	}
h2 {
	margin-top: 3em;
	margin-bottom: 0em;
	color: black;
	font-weight: normal;
	border-bottom: 1px solid #aaa;
	}
.head h2, #abstract h2, #sotd h2 {
	margin-top: 0;
	}
h3 {
	margin-top: 3em;
	}
h4  { 
	font-size: 100%; 
    font-weight: normal; 
    color: #005a9c; 
    margin-top: 2em;  
    }
.leadin {
	font-weight: bold;
	}

ins { 
	background-color: #99FF99; 
	text-decoration: none; 
	}
del { 
	display: inline; 
	color: silver; 
	}

figure { 
	margin-bottom: 2em; 
	text-align: center;
	}
figcaption {
	 text-align: center;
	margin: 0.5em 2em;
	font-style: italic;
	font-size: 90%;
	}
.figno:after {
	content: ':\00A0  ';
}

a.termref:link {
	color:#C60;
	text-decoration:none;
	border-bottom: 1px dotted #FC0; 
	}
a.termref:hover {
	color:#C60;
	text-decoration:none;
	border-bottom: 1px dotted #FC0; 
	}
a.termref:visited {
	color:#C60;
	text-decoration:none;
	border-bottom: 1px dotted #FC0; 
	}
a.termref:active {
	color:#C60;
	text-decoration:none;
	border-bottom: 1px dotted #FC0; 
	}

.qterm:before, .qchar:before { content: "'"; }
.qterm:after, .qchar:after { content: "'"; }
.quote:before { content: '"'; }
.quote:after { content: '"'; }
code { 
	color: #A52A2A; 
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace; 
    font-size: 100%; 
    }
samp, kbd { 
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace; 
    font-size: 100%; 
    }
.uname {
	text-transform: uppercase;
	font-size: 85%;
	letter-spacing:0.03em;
	}


/* HEAD BOILERPLATE */

#topbar a { 
    text-decoration: none;
    background: transparent;
    font-weight: 400;
    }
#w3cIcon {
    float: left;
    }
#banner {
    float: left;
    margin-left: 10px;
    }
#sitename {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    border-bottom: 2px solid brown;
    color: #4c5c9c;
    margin: 0;
    }
#subtitle {
    margin: 0;
    font-size: 12px;
    font-style: italic;
    color: #4c5c9c;
    }
#sitelinks {
    margin-top: 0.5em;
    font-size: 80%;
    }



